body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:720px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:720px;
}
#u2 {
  position:absolute;
  left:2px;
  top:352px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:36px;
  top:91px;
  width:320px;
  height:480px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:36px;
  top:91px;
  width:320px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:159px;
  top:610px;
  width:60px;
  height:61px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:61px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:179px;
  top:631px;
  width:20px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:164px;
  top:94px;
  width:75px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:323px;
  top:95px;
  width:22px;
  height:11px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:345px;
  top:98px;
  width:4px;
  height:5px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:43px;
  top:94px;
  width:82px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:174px;
  top:64px;
  width:50px;
  height:8px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:8px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:195px;
  top:50px;
  width:10px;
  height:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:36px;
  top:109px;
  width:320px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  color:#666666;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:47px;
  top:120px;
  width:18px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:143px;
  top:180px;
  width:127px;
  height:16px;
  font-size:14px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:60px;
  top:245px;
  width:129px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:28px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:60px;
  top:166px;
  width:50px;
  height:44px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:44px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:62px;
  top:290px;
  width:207px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:50px;
  top:220px;
  width:290px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u36 {
  position:absolute;
  left:61px;
  top:328px;
  width:268px;
  height:48px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:48px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:50px;
  top:410px;
  width:290px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:273px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:290px;
  height:1px;
}
#u39 {
  position:absolute;
  left:62px;
  top:430px;
  width:66px;
  height:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:61px;
  top:470px;
  width:268px;
  height:33px;
  font-size:28px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:33px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:280px;
  top:431px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:14px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
