body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:388px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:720px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:720px;
}
#u2 {
  position:absolute;
  left:2px;
  top:352px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:36px;
  top:91px;
  width:320px;
  height:480px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:36px;
  top:91px;
  width:320px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:159px;
  top:610px;
  width:60px;
  height:61px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:61px;
}
#u8 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:179px;
  top:631px;
  width:20px;
  height:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:164px;
  top:94px;
  width:75px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:323px;
  top:95px;
  width:22px;
  height:11px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:345px;
  top:98px;
  width:4px;
  height:5px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:5px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:43px;
  top:94px;
  width:82px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:174px;
  top:64px;
  width:50px;
  height:8px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:8px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:195px;
  top:50px;
  width:10px;
  height:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:36px;
  top:109px;
  width:320px;
  height:40px;
  font-size:18px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:9px;
  width:316px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:47px;
  top:120px;
  width:18px;
  height:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:47px;
  top:356px;
  width:300px;
  height:42px;
  text-align:left;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
}
#u28 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:47px;
  top:307px;
  width:300px;
  height:42px;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
}
#u30 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:47px;
  top:406px;
  width:300px;
  height:42px;
  text-align:left;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
}
#u32 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:47px;
  top:258px;
  width:300px;
  height:42px;
  text-align:left;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
}
#u34 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:47px;
  top:159px;
  width:300px;
  height:90px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:left;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:90px;
}
#u36 {
  position:absolute;
  left:2px;
  top:37px;
  width:296px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:264px;
  top:171px;
  width:73px;
  height:70px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:70px;
}
#u38 {
  position:absolute;
  left:2px;
  top:27px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:47px;
  top:460px;
  width:300px;
  height:42px;
  text-align:left;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:296px;
  word-wrap:break-word;
}
